{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding-top: 60px;">
            <div class="card">
              <div class="card-header">
                Patent Profile Form
              </div>
              <div class="card-body">
                <form class="row g-3" method="POST">
                  {% csrf_token %}
                  <div class="col-md-6">
                    <label class="form-label">Hive ID</label>
                    {{ form.hive_id|add_class:"form-control" }}
                    {{ form.hive_id.errors }}
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Book No</label>
                    {{ form.book_no|add_class:"form-control" }}
                    {{ form.book_no.errors }}
                  </div>
                  <div class="col-12">
                    <label class="form-label">Name</label>
                    {{ form.name|add_class:"form-control" }}
                    {{ form.name.errors }}
                  </div>
                  <div class="col-10">
                    <label class="form-label">Address</label>
                    {{ form.address|add_class:"form-control" }}
                    {{ form.address.errors }}
                  </div>
                  <div class="col-2">
                    <label class="form-label">District</label>
                    {{ form.district|add_class:"form-control" }}
                    {{ form.district.errors }}
                  </div>
                  <div class="col-12">
                    <label  class="form-label">Father's Name</label>
                    {{ form.father_name|add_class:"form-control" }}
                    {{ form.father_name.errors }}
                  </div>
                  <div class="col-12">
                    <label class="form-label">Mother's Name</label>
                    {{ form.mother_name|add_class:"form-control" }}
                    {{ form.mother_name.errors }}
                  </div>
                  <div class="col-6">
                    <label class="form-label">Age</label>
                    {{ form.age|add_class:"form-control"|attr:"type:date" }}
                    {{ form.age.errors }}
                  </div>
                  <div class="col-6">
                    <label class="form-label">Blood Group</label>
                    {{ form.blood_group|add_class:"form-control" }}
                    {{ form.blood_group.errors }}
                  </div>
                  <div class="col-md-12">
                    <label class="form-label">Occupation</label>
                    {{ form.occupation|add_class:"form-control" }}
                    {{ form.occupation.errors }}
                  </div>
                  <div class="col-2">
                    <label class="form-label">Marital Status</label>
                    {{ form.marital_status|add_class:"form-control" }}
                    {{ form.marital_status.errors }}
                  </div>
                  <div class="col-10">
                    <label class="form-label">Spouse Name</label>
                    {{ form.spouse_name|add_class:"form-control" }}
                    {{ form.spouse_name.errors }}
                  </div>
                  <div class="col-12">
                    <label class="form-label">Contact Person</label>
                    {{ form.contact_person|add_class:"form-control" }}
                    {{ form.contact_person.errors }}
                  </div>
                  <div class="col-12">
                    <label class="form-label">Contact No</label>
                    {{ form.phone|add_class:"form-control" }}
                    {{ form.phone.errors }}
                  </div>

                  <div class="col-12">
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block after_js %}

{% endblock %}
