{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding-top: 60px;">
            <div class="card">
              <div class="card-header">
                Profile Information
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                    Profile Information
                  </div>
              </div>
            </div>
            <br><br>
            <div class="card">
              <div class="card-header">
                Prescription
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                    Profile Information
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block after_js %}

{% endblock %}
