{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding-top: 60px;">
            <div class="card">
              <div class="card-header">
                  Profile Information  <button><a href="{% url 'profile_edit' id=profile.id  %}">Edit</a></button> <button><a href="{% url 'profile_delete' id=profile.id  %}">Delete</a></button>
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                      <li>Profile ID: {{ profile.id }}</li>
                      <li>Book No: {{ profile.book_no }}</li>
                      <li>Name: {{ profile.name }}</li>
                  </div>
              </div>
            </div>
            <br><br>
            <div class="card">
              <div class="card-header">
                Prescription  <button><a href="{% url 'prescription_add' profile_id=profile.id  %}">Add New Prescription</a></button>
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                    {% for obj in prescriptions %}
                        <div>
                            <p>Date: {{ obj.created_at }} <button><a href="{% url 'prescription_edit' profile_id=profile.id id=obj.id  %}">Edit</a></button> <button><a href="{% url 'prescription_delete' profile_id=profile.id id=obj.id  %}">Delete</a></button> </p>
                            <hr>
                            <p>
                                {% if obj.text %}
                                    {{ obj.text }}
                                {% endif %}
                            </p>

                            <p>
                                {% if obj.image %}

                                    <img src="{{ obj.image.url }}"/>
                                {% endif %}
                            </p>

                            <p>
                                {% if obj.pdf %}
                                    <embed src="{{ obj.pdf.url }}"  height="1000px" width="100%"/>
                                {% endif %}
                            </p>
                        </div>

                    {% endfor %}
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block after_js %}

{% endblock %}
