{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding-top: 60px;">
            <div class="card">
              <div class="card-header">
                Profile Information
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                      <li>Profile ID: {{ profile.id }}</li>
                      <li>Book No: {{ profile.book_no }}</li>
                      <li>Name: {{ profile.name }}</li>
                  </div>
              </div>
            </div>
            <br><br>
            <div class="card">
              <div class="card-header">
                Prescription
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                    {% for obj in prescriptions %}
                        <div>
                            <p>Date: {{ obj.created_at }}</p>
                            <p>
                                {% if obj.text %}
                                    {{ obj.text }}
                                {% endif %}
                            </p>

                            <p>
                                {% if obj.image %}
                                    {{ obj.image.url }}
                                {% endif %}
                            </p>

                            <p>
                                {% if obj.pdf %}
                                    {{ obj.pdf.url }}
                                {% endif %}
                            </p>
                        </div>

                    {% endfor %}
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block after_js %}

{% endblock %}
