{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding-top: 60px;">
            <form class="row row-cols-lg-auto g-3 align-items-center" method="POST">
              {% csrf_token %}
              <div class="col-10">

                <div class="input-group">
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" name="q" placeholder="Search by Profile ID, Name or Phone Number ...">
                </div>
              </div>

              <div class="col-2">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>
        </div>

        <div class="col-md-12" style="padding-top: 50px;">
            <table class="table">
                {% if profiles %}
                  <thead>
                    <tr>
                      <th scope="col">Profile ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Book No</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    {% for profile in profiles %}
                    <tr>
                      <th>{{ profile.id }}</th>
                        <td><a href="../profile/{{ profile.id }}/" >{{ profile.name }}</a></td>
                      <td>{{ profile.phone }}</td>
                      <td>{{ profile.book_no }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                {% else %}
                    No Record Found!
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}

{% block after_js %}

{% endblock %}
